<section class="_container">
	<app-header
		[title]="title">
	</app-header>

	<div class="_toolbar">
		<button class="btn btn-info" (click)="add()">Добавить</button>
	</div>

	<hr/>

	<table>
		<thead>
			<tr>
				<th class="ta-left">Логин</th>
				<th class="ta-center">Роль в системе</th>
				<th class="ta-center">Заблокирован</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let user of users" (click)="edit(user)">
				<td class="ta-left">{{user.username}}</td>
				<td class="ta-center">{{user.role}}</td>
				<td class="ta-center" *ngIf="user.isBlocked">
					<i class="_lock fas fa-lock"></i>
				</td>
				<td class="ta-center" *ngIf="!user.isBlocked">
					<i class="_lock-open fas fa-lock-open"></i>
				</td>
			</tr>
		</tbody>
	</table>
</section>