._container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    ._toolbar{
        display: flex;
        flex-direction: row;
    }
    
    hr{
        width: 100%;
        border-style: solid;
        border-color: #607d8b;
    }

    ._lock{
        color: #f44336;
    }

    ._lock-open{
        color: #4caf50;
    }
}