@font-face {
    font-family: "roboto_regular";
    src: url(../src/assets/fonts/Roboto-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "roboto_bold";
    src: url(../src/assets/fonts/Roboto-Bold.ttf) format("truetype");
}