._container{
    display: flex;
    flex-direction: column;
    height: 100%;

    ._toolbar{
        display: flex;
		flex-direction: row;
    }

    hr{
        width: 100%;
        border-style: solid;
		border-color: #607d8b;
		margin-bottom: 10px;
	}
	
	._content{
		display: flex;
		flex-direction: column;
		width: 200px;

		@media (min-width: 200px) and (max-width:600px) {
		  width: 100%;
		}
	}
}