._container{    
    h1{
        font-size: 1.4rem;
        margin: 0;
        font-weight: normal;
        font-family: 'roboto_bold', sans-serif;
    }

    hr{
        width: 100%;
        border-style: solid;
        border-color: #607d8b;
    }
}