._container{
	position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
    background-color: green;
    width: 20vw;
    min-width: 100px;
    max-width: 300px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}