<section class="_container">
    <app-header 
        [title]="title">
	</app-header>
	
	<div class="_toolbar">
		<button class="btn btn-default mr-5" (click)="back()">Назад</button>
		<button class="btn btn-success" (click)="save()">Сохранить</button>
	</div>

	<hr/>

	<div class="_content">
		<div class="form-row">
			<label for="lastName">Фамилия</label>
			<input id="lastName" type="text"  [(ngModel)]="employeeBlank.lastName">
		</div>
	</div>
</section>
