<section class="_container">
    <app-header 
        [title]="title">
	</app-header>
	
	<div class="_toolbar">
		<button class="btn btn-default mr-5" (click)="back()">Назад</button>
		<button class="btn btn-success" (click)="save()">Сохранить</button>
	</div>

	<hr/>

	<div class="_content">
		<div class="form-row">
			<label for="username">Логин</label>
			<input id="username" type="text" [(ngModel)]="userBlank.username">
		</div>

		<div class="form-row">
			<label for="password">Пароль</label>
			<input id="password" type="password" [(ngModel)]="userBlank.password">
		</div>

		<div class="form-row">
			<label for="role">Роль</label>
			<select id="role" class="select-list" [(ngModel)]="userBlank.role">
				<option *ngFor="let role of roles | keyvalue" [value]="role.key">
					{{role.value}}
				</option>
			</select>
		</div>

		<div class="form-row">
			<label for="is_blocked">Заблокирован</label>
			<input id="is_blocked" type="checkbox" [(ngModel)]="userBlank.isBlocked">
		</div>
	</div>
</section>
