._container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    user-select: none;

    ._form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 480px;
        height: 50%;
        min-height: 320px;
        background-color: white;
        box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
        border-radius: 10px;

        ._header{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            color: #1d1d1b;
        }

        ._body{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;

            ._logo{
                background-image: url('/assets/jpg/logo.jpg');
                background-position: center;
                width: 33%;
                height: 100%;
                border-radius: 10px 0 0 10px;
                padding-right: 10px;
            }

            ._login{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 67%;
                height: 100%;
                padding-left: 20px;
                padding-right: 20px;

                input{
                    display: flex;
                    outline: none;
                    border: 0;
                    border-bottom: 1px solid #1d1d1b;
                    width: 100%;
                    padding-bottom: 5px;
                    padding-left: 10px;
                }
            }
        }

        ._footer{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
    }
}

._row{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

._btn{
    width: 100%;
    margin-bottom: 10px;
    background-color: #1d1d1b;
}