<section class="_container">

    <section class="_form">

        <div class="_body">
            <div class="_logo"></div>
    
            <div class="_login">
                <div class="_row">
                    <h1>Вход в систему</h1>
                </div>

                <div class="_row">
                    <input type="text" spellcheck="false" [(ngModel)]="username" autocomplete="off"
                        placeholder="Введите логин" />
                </div>
        
                <div class="_row">
                    <input type="password" spellcheck="false" [(ngModel)]="password" autocomplete="off"
                        placeholder="Введите пароль" />
                </div>
        
                <div class="_row">
                    <button type="button" class="_btn btn btn-default" (click)="signIn()">
                        Войти
                    </button>
                </div>
            </div>
        </div>

    </section>

</section>