._container{
    display: flex;
    flex-direction: column;
    height: 100%;

    ._toolbar{
        display: flex;
        flex-direction: row;
    }

    hr{
        width: 100%;
        border-style: solid;
        border-color: #607d8b;
    }
}