<section class="_container">
    <app-header 
        [title]="title">
	</app-header>
	
	<div class="_toolbar">
		<button class="btn btn-info" (click)="add()">Добавить</button>
	</div>

	<hr/>

    <table>
		<thead>
			<tr>
			    <th>ФИО</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let employee of employees" (click)="edit(employee)">
			    <td>{{employee.lastName}}</td>
			</tr>
		</tbody>
	</table>
</section>