<section class="_container">
    <section class="_sidebar">
        <app-sidebar></app-sidebar>
    </section>
    <section class="_content">
        <router-outlet></router-outlet>
    </section>
</section>
