._container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;

    ._sidebar{
        width: 200px;
    }

    ._content{
        margin: 10px;
        width: 100%;
    }
}