<section class="_container">
    <span class="_header">MiX IS</span>
    <div class="_item" *ngFor="let menuItem of menuItems" (click)="selectedMenuItem(menuItem)" [ngClass]="menuItem.cssClass">
        <i class="_icon" [ngClass]="menuItem.icon"></i>
        <span class="_title">{{menuItem.title}}</span>
    </div>
    <div class="_item_logout" (click)="logout()">
        <i class="_icon fas fa-sign-out-alt"></i>
        <span class="_title">Выход</span>
    </div>
</section>