%item{
	display: flex;
	align-items: center;
	margin-top: 5px;
	margin-bottom: 5px;
	cursor: pointer;
	color: var(--moon-color);

	._icon{
		margin-left: 10px;
		margin-right: 5px;
	}

	._titel{

    }
    
    &:hover{
        color: var(--red-color);
    }
}

._container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 200px;
    background-color: var(--mix-black-color);
    user-select: none;
    position: relative;

    ._header{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 1.2rem;
        color: var(--moon-color);
    }

    ._item{
        @extend %item;
	}
	
	._item_logout{
		@extend %item;
		position:absolute;
		bottom:0;
		width: 100%;
	}

    ._active-item{
        color: var(--yellow-color);
    }
}